/**
 * Site header
 */
.site-header {
    border-top: 5px solid $orange-color;
    border-bottom: 1px solid $orange-color-dark;
    min-height: 80px;
    background: $background-color;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $orange-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
            text-decoration: none;
            border-bottom: solid 2px $brand-color;
        }
    }

    @include media-query($on-palm) {
        .trigger {
            text-align: center;
            width: 100%;
        }

        &:hover .trigger {
            display: block;
        }

        .page-link {
            display: inline;
            padding: 5px 10px;
        }
    }
}

@include media-query($on-palm) {
    .site-nav {
        float:left;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/**
 * Splash
 */
.splash {
    width: 100%;
    height: 250px;
    padding-top: 50px;
    background: url(/files/images/splash.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    ul {
        width: $splash-button-width;
        list-style-type: none;

        a {
            color: $black;
            border: none;
        }

        a:hover {
            text-decoration: none;
        }

        li {
            color: $black;
            height: 28px;
            padding-top: 2px;
            max-width: $splash-button-width;
            background: $orange-color;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            margin-bottom: 10px;

            img {
                margin-left: 2px;
                width: 25px;
                height: 25px;
            }
        }

        li:hover {
            background: $accent-color;
        }
    }
}

.circle-img {
    width: 100%;
    text-align: center;
    transform: translateY(-25%);

    img {
        border-radius: 50%;
        border: solid 3px $brand-color;
        width: 200px;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: $background-color;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(32% - (#{$spacing-unit} / 2));
    width:         calc(32% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(23% - (#{$spacing-unit} / 2));
    width:         calc(23% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    color: $orange-color-dark;
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background: $background-color-main;
    color: $text-color-main;
}

.page-content a:hover {
    color: $orange-color;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        margin-right: $spacing-unit;
        width: 230px;
        height: 130px;
        display: inline-block;
        float: left;
        padding: 10px;
        border: 0px solid black;
        border-radius: 5px;
        background: $background-color;
        position: relative;

        a {
          color: $background-color-main;

          &:visited {
              color: darken($background-color-main, 15%);
          }
        }
    }
}

.course-credits {
    right: 5px;
    bottom: 0px;
    position: absolute;
    font-weight: bold;
    color: $orange-color;
}

.course-school {
    left: 5px;
    bottom: 0px;
    position: absolute;
    font-weight: bold;
    color: $accent-color;
}

.course-code {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    margin: 0 0 0 -30px;
}

.project-year {
    right: 5px;
    bottom: 0px;
    position: absolute;
    font-weight: bold;
    color: $orange-color;
}

.project-comments {
    left: 5px;
    bottom: 0px;
    position: absolute;
    font-weight: bold;
    color: $accent-color;
}


.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

    a {
        color: $grey-color;
    }
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-excerpt {
    font-style: italic;
    font-size: 12px;
    max-width: 400px;
}

.rounded-img {
    border-radius: 50%;
    border: 3px solid $brand-color;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
