---
layout: default
title: Mina Kurser
permalink: /courses/
---
{% for course in site.courses %}
    {% if course.state == "done" %}
        {% capture total_credits %} {{ total_credits | plus: course.credits }} {% endcapture %}
        {% capture total_done %} {{ total_done | plus: 1 }} {% endcapture %}
    {% elsif course.state == "active" %}
        {% capture total_active %} {{ total_active | plus: 1 }} {% endcapture %}
    {% endif %}
{% endfor %}

<div class="content">

    <h1 class="page-heading">{{page.title}}</h1>
    <h2>Högskolepoäng: {{total_credits}}hp <span class="italic-note">gäller avklarade kurser</span></h2>

    {% if total_active | size > 0 %}
    <h2>{{total_active}}aktiva kurser</h2>
    <ul class="post-list">
        {% for course in site.courses %}
            {% if course.state == "active" %}
                <li>
                    <a href="{{ course.url | prepend: course.baseurl }}">
                        {{course.school}}: {{ course.title }} ({{ course.code }}) {{course.credits}}hp
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <h2>{{total_done}}avklarade kurser</h2>
    <ul class="post-list">
        {% for course in site.courses %}
            {% if course.state == "done" %}
                <li>
                    <a href="{{ course.url | prepend: course.baseurl }}">
                        {{course.school}}: {{ course.title }} ({{ course.code }}) {{course.credits}}hp
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>
