---
layout: default
title: Mina Kurser
permalink: /courses/
---
{% for course in site.courses %}
    {% if course.state == "done" %}
        {% capture total_credits %} {{ total_credits | plus: course.credits }} {% endcapture %}
        {% capture total_done %} {{ total_done | plus: 1 }} {% endcapture %}
    {% elsif course.state == "active" %}
        {% capture total_active %} {{ total_active | plus: 1 }} {% endcapture %}
    {% endif %}
{% endfor %}

<div class="home">

    <h1 class="page-heading">{{page.title}}</h1>
    <h2>Högskolepoäng: {{total_credits}}hp</h2>

    {% if total_active | size > 0 %}
    <h2>Aktiva kurser</h2>
    <ul class="post-list">
        {% for course in site.courses %}
            {% if course.state == "active" %}
                <li>
                    <h2><a class="post-link" href="{{ course.url | prepend: course.baseurl }}">
                        ({{ course.code }}) {{ course.title }} - {{course.credits}}hp
                    </a></h2>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Avklarade kurser ({{total_done}})</h2>
    <ul class="post-list">
        {% for course in site.courses %}
            {% if course.state == "done" %}
                <li>
                    <h2>
                        <a class="post-link" href="{{ course.url | prepend: course.baseurl }}">
                            ({{ course.code }}) {{ course.title }} - {{course.credits}}hp
                        </a>
                    </h2>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>
