---
layout: default
title: Projekt
permalink: /projects/
---
{% assign ordered_projects = site.projects | sort: "year" | reverse %}
<div class="content">

    <h1 class="page-heading">{{page.title}}</h1>

    <h2>Hobbyprojekt</h2>
    <ul class="post-list">
        {% for project in ordered_projects %}
            {% if project.type == "hobby" %}
            <li>
              <a href="{{ project.url | prepend: project.baseurl }}">
                  {{ project.title }}
              </a>
              <div class="project-comments"><span class="italic-note"><a href="{{ project.url | prepend: project.baseurl }}#disqus_thread"></a></span></div>
              <div class="project-year">{{project.year}}</div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Skolprojekt</h2>
    <ul class="post-list">
        {% for project in ordered_projects %}
            {% if project.type == "school" %}
            <li>
                <a href="{{ project.url | prepend: project.baseurl }}">
                    {{ project.title }}
                </a>
                <div class="project-comments"><span class="italic-note"><a href="{{ project.url | prepend: project.baseurl }}#disqus_thread"></a></span></div>
                <div class="project-year">{{project.year}}</div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
